.heroContainer {
  background-color: #f1f1f1;
  width: 100%;
  /* height: 60%; */
  height: fit-content !important;
  /* margin: auto; */
}

.text {
  display: flex;
  width: 85%;
  height: 80vh !important;
  justify-content: space-between  ;
  margin: auto;
  padding: 30px 0;
  /* padding-top: 15vh;
  padding-bottom: 15vh; */
}

.header {
  width: 50%;
  padding-top: 4rem;
}

.header h1 {
  width: 70%;
  color: #000;
  text-align: left;
  height: 144px;
  font-weight: 700;
  padding: 20px 0;
  font-size: 40px;
  line-height: 55px;
}

.header h3 {
  width: 80%;
  height: 70px;
  font-size: 20px;
  color: #847e7e;
  line-height: 1.5;
  padding-top: 1rem;
}

.heroBtn {
  padding: 20px 50px;
  font-weight: 600;
  font-size: 20px;
  background-color: #3e9adc;
  color: #fff;
  /* width: 290px;
  height: 60px; */
  border: none;
  margin-top: 60px;
}

.heroBtn:hover {
  cursor: pointer;
  background-color: #3e9adce3;

}

.heroLogo {
  width: 50%;
  /* height: 500px; */
  top: 10%;
  background-color:#f1f1f1;
}

.brandLogo {
  /* border: 5px solid; */
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15vh;
  gap: 1rem;
}

.immage {
  width: 100%;
  height: 100% !important;
}

.logo {
  background-color: #fff;
  width: 185px;
  height: 110px;
  padding: 10px;
}