.gray-section {
  background-color: #f1f1f1;
  height: 100vh;
  padding: 20px 0;
}

.main-section {
  
  width: 83%;
  margin: 0 auto;
}

.name-time {
  display: flex;
  justify-content: space-between;
}

.quiz {
  overflow: auto;
}