.previous-btn {
  display: flex;
  justify-content: first baseline;
  gap: 10px;
  align-items: first baseline;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #3e9adc;
}

.previous-btn:hover {
  cursor: pointer;
  background: rgb(24, 54, 203);
  background: radial-gradient(
    circle,
    rgba(24, 54, 203, 0.6985644599636729) 13%,
    rgba(231, 233, 238, 1) 63%
  );
}