.quiz_logo {
  width: 77%;
  height: 50px;
  margin: auto;
  background-color: #ffffff;

  padding-top: 2rem;
  padding-bottom: 1rem;
}

.participant_cont {
  background-color: #f1f1f1;
  height: 100vh;
}

.welcome_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 6rem 22rem; */
  padding: 4rem;
  box-shadow: 0 4px 8px 0 #8f8888, 0 6px 20px 0 #685b5b;
  margin-top: 3rem;
  background-color: #fff;
}

.welcome_div h1 {
  width: 425px;
  color: #000;
  font-size: 36px;
  font-weight: 600;
}

.welcome_inputs {
  padding-top: 2rem;
}

.welcome_div span {
  color: #3e9adc;
}

.welcome_btn {
  background-color: #3e9adc;
  color: #ffffff;
  width: 95.5%;
  padding: 0.5rem;
  border: none;
  margin-top: 2rem;
  margin-left: 0.5rem;
  font-size: 23px;
}

.welcome_btn:hover {
  cursor: pointer;
  background-color: #3e9adcde;
}

@media only screen and (max-width: 600px) {
}
