.grey-section {
  /* background-color: #f1f1f1; */
  background: rgb(24, 54, 203);
  background: radial-gradient(
    circle,
    rgba(24, 54, 203, 0.6985644599636729) 13%,
    rgba(231, 233, 238, 1) 63%
  );
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

.welcome {
  width: 60%;
  height: 65vh;
  margin: 2% 20%;
  background: rgb(24, 54, 203);
  background: radial-gradient(
    circle,
    rgba(24, 54, 203, 0.43806025828300066) 25%,
    rgba(188, 197, 219, 0.4632703423166141) 53%
  );
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.elmt-holder {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 20px 200px;
  padding-top: 40px;
}
  
h2 {
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.pa-tag {
  width: 500px;
  margin: 0 auto;
  line-height: 2;
  color: #fff;
  font-weight: 600;
}

.two-butns {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  text-align: center;
  padding-top: 20px;
}

.prev-butn {
  display: flex;
  justify-content: first baseline;
  gap: 10px;
  align-items: first baseline;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #3e9adc;
}

.pa-tag {
  text-align: center;
}

.prev-butn:hover {
  cursor: pointer;
  background: #1836cb;
  background: radial-gradient(
    circle,
    #1836cbb2 13%,
    #e7e9ee 63%
  );
}

.next-btn {
  display: flex;
  justify-content: first baseline;
  gap: 10px;
  align-items: first baseline;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #3e9adc;
}

.next-btn:hover {
  cursor: pointer;
  background: rgb(24, 54, 203);
  background: radial-gradient(
    circle,
    rgba(24, 54, 203, 0.6985644599636729) 13%,
    rgba(231, 233, 238, 1) 63%
  );
}