.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.6rem;
}

.html_label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: .8rem;
}

.form_control {
  padding: 0.6rem 0.5rem;
}
