.userDashboard-nav {
    margin: auto;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 5rem;
    background-color: #ffff;
}

.log_btn {
    background-color: #fff;
    border: 2px solid #3e9adc;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 20px;
}