.userDashboard-nav {
  margin: auto;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 5rem;
  background-color: #ffff;
}

.log_btn {
  background-color: #fff;
  border: 2px solid #3e9adc;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 20px;
}

.userdashboard_container {
  display: flex;
}

.main_dashboard {
  background-color: #f1f1f1;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding: 3.5rem 0 2.5rem 1rem  ;
}

.actions p {
  font-size: 20px;
  font-weight: 800;
}

.createquiz_btn {
  background-color: #3e9adc;
  padding: .6rem 1rem;
  color: #fff;
  width: 140px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  font-weight: 800;
  border: none;
}

.create_quiz img{
  position: absolute;
  bottom: 14px;
  left: -10px;
}