.side_container {
  width: 330px;
  height: 100%;
  background-color: #3e9adc;
}

.avatar_container {
  height: 31vh;
}

.avatar {
  margin: 20px auto;
}

.avatar_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  color: #ffff;
}

.avatar_infos p {
  text-align: center;
  padding: 15px 0;
}

.dashboard_btn {
  display: flex;
  flex-direction: column;
  gap: 340px;
  position: relative;
}

.side_midle .p1 {
  padding: 0.8rem;
  display: flex;
  background-color: #fff;
  gap: 30px;
}

.side_midle .p2 {
  padding: 0.8rem;
  display: flex;
  background-color: #1882ce;
  gap: 30px;
  margin-top: 0.4rem;
}

.quiz_btn:hover {
  width: 24px;
  height: 25px;
  cursor: pointer;
}

.scores_btn {
  width: 24px;
  height: 25px;
}

.scores_btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logout {
  display: flex;
  background-color: #fff;
  gap: 30px;
  padding: 0.8rem;
  background-color: #1882ce;
  margin-top: 1.3rem;
}

.logout:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.p3 {
  text-align: left;
}

.bi {
  width: 24px;
  height: 25px;
}
