.afterhero {
  background-color: #fff;
  height: 100vh;
}

.afterhero_div {
  display: flex;
  gap: 5rem;
  width: 85%;
  margin: auto;
  padding-top: 6rem;
}

.afterhero_header {
  width: 50%;
  padding-top: 5rem;
}

.head {
  font-weight: 200;
  line-height: 50px;
  font-size: 40px;
}

.list {
  
}

.ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vector {
  background-color: #3e9adc;
  padding: 6px;
}

li {
  list-style: none;
  padding: 1.5rem;
  width: 85%;
}

.vector_text {
  font-size: 18px;
  font-weight: 400px;
  left: 0.2px;
  line-height: 25px;
}

.vector_p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
