.userDashboard-nav {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 5rem;
  background-color: #ffff;
}

.nav_img {
  margin: auto 0;
  align-self: center;
}

.second_part {
  width: 88%;
  border: 3px solid #fff;
  height: 615px;
  margin-left: 1.1rem;
  position: relative;

}

.second_part h3 {
  padding: 1.5rem;
  border-bottom: 3px solid #fff;
}

.h3-quiz:hover {
  cursor: pointer;
  text-decoration: underline;
}


.quizes_details {                 
  /* background-color: lightcoral; */
  width: 951px;
  height: 500px;
  overflow: auto;
  /* text-align:center; */
  margin-left: 1rem;
  padding: 1rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding: 3.5rem 0 2.5rem 1rem;
}

.main_dashboard {
  background-color: #f1f1f1;
  width: 100%;
}