.nav_container {
  margin: auto;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 85%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.navImage {
  padding-top: 17px;
}

.navImage:hover {
  cursor: pointer;
}

.leftNav {
  display: flex;
  justify-content: space-evenly;
  gap: 2.6rem;
}

.navParagraph {
  display: flex;
}

.homeBtn {
  margin: 1rem;
  font-weight: 600;
  font-size: 20px;
}

.homeBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navBtn {
  display: flex;
  gap: 1.2rem;
  top: 50%;
  left: 50%;
}

.loginBtn {
  background-color: #fff;
  border: 2px solid #3e9adc;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 20px;
}

.loginBtn:hover {
  transform: translateY(2px);
  color: #000;
  cursor: pointer;
  border-radius: 10px;
  
}

.signupBtn {
  color: #fff;
  background-color: #3e9adc;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

.signupBtn:hover{
  color: black;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transform: translateY(2px);

}
